{# @var helper \KikCMS\Services\Website\FrontendHelper #}

{% extends '@kikcms/frontend/base.twig' %}

{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ css('css/style.css') }}
    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="apple-touch-icon" sizes="152x152" href="/images/icon.png">

    {{ js('js/vendor.js') }}
    {{ js('js/app.js') }}
{% endblock %}

{% block body %}

    <div class="logo">
        <img src="/images/logo.png"  alt="Logo"/>
    </div>

    <nav>
        {{ helper.menu('main')|raw }}
    </nav>

    <div id="body">
        {% block templateBody '' %}
    </div>
{% endblock %}